<header class="site-header size-lg text-center" style="background-image: url(/assets/img/bg-banner1.jpg)">  
  <div class="container no-shadow">
    <h1 class="text-center">Your Messages</h1>
    <p class="lead text-center">Check out your messages here!</p>
  </div>
</header>


<main>
  <section>
    <div class="container">

      <h3>Chatting with
        <%= render 'conversations/participants', conversation: @conversation %>
      </h3>
      <hi> <%= flash[:success]%></hi>

      <div class="panel panel-default">
        <div class="panel-heading"><%= "subject: #{@conversation.subject}" %></div>

        <div class="panel-body">
          <div class="messages">
            <% @conversation.receipts_for(current_user).each do |receipt| %>
              <% message = receipt.message %>
              <div class="media">
                <% if message.sender.teenager %>
                  <% name = message.sender.teenager.fname + " " + message.sender.teenager.lname %>
                <% elsif message.sender.client %>
                  <% name = message.sender.client.fname + " " + message.sender.client.lname %>
                <% end %>
                <% if current_user == message.sender %>
                  <div class="text-right">
                    <p><strong>Me at <%= message.created_at.strftime("%-d %B %Y, %H:%M:%S") %></strong></p>
                    <p><%= message.body %></p>
                  </div>
                <% else %>
                  <div class="text-left">
                    <p><strong><%= name %>says at <%= message.created_at.strftime("%-d %B %Y, %H:%M:%S") %></strong></p>
                    <p><%= message.body %></p>
                  </div>
                <% end %>
              </div>
            <% end %>
          </div>
        </div>
      </div>

      <%= form_tag reply_conversation_path(@conversation), method: :post do %>
        <div class="form-group">
          <p class="emoji-picker-container">
            <%= text_area_tag 'body', nil, cols: 3, class: 'form-control', placeholder: 'Type something...', data: { emojiable: true },required: true %>
          </p>
        </div>
        <%= submit_tag "Send Message", class: 'btn btn-primary' %>
      <% end %>

    </div>
  </section>
</main>
