<% if @teenager and @teenager_edit == "yes" and current_user.teenager != @teenager %>
  <%= controller.redirect_to teenagers_path%>
<% end %>

<%= form_with(model: teenager, local: true) do |form| %>
    <!-- Page header -->
    <header class="page-header bg-img size-lg" style="background-image: url(/assets/img/teenagers.jpg)">
      <div class="container page-name">
        <h1 class="text-center">Detail Information</h1>
        <p class="lead text-center">Please complete the form with detailed infomation</p>
      </div>

      <div class="container">

        <p><font color='red'> <%= teenager.errors.full_messages.first %></font></p>


        <div class="row">
          <div class="col-xs-12 col-sm-4">
            <div class="form-group">
              <%= form.file_field :selfie, class: 'dropify'%>
              <span class="help-block">Please upload a profile picture.</span>
            </div>
          </div>

          <div class="col-xs-12 col-sm-8">
            <div class="row">
              <div class="form-group col-xs-12 col-sm-6">
                <h6>First Name</h6>
                <%= form.text_field :fname, class: 'form-control input-lg' %>
              </div>

              <div class="form-group col-xs-12 col-sm-6">
                <h6>Last Name</h6>
                <%= form.text_field :lname, class: 'form-control input-lg' %>
              </div>

              <div class="form-group col-md-12">
                <textarea class="form-control" rows="3" placeholder="Short description about you"></textarea>
              </div>

              <hr class="hr-lg">
            </div>
            <h6>Basic information</h6>
            <div class="row">

              <div class="form-group col-xs-12 col-sm-6">
                <div class="input-group input-group-sm">
                  <span class="input-group-addon"><i class="fa fa-map-marker"></i></span>
                  <%= form.text_field :home_address, id: :teenager_home_address, placeholder: "Location, e.g. Melon Park, CA", class: 'form-control input-lg' %>
                </div>
              </div>

              <div class="form-group col-xs-12 col-sm-6">
                <div class="input-group input-group-sm">
                  <span class="input-group-addon"><i class="fa fa-map-marker"></i></span>
                  <%= form.text_field :postal_code, id: :postal_code, placehoder: "Postal Code", class: 'form-control input-lg' %>
                </div>
              </div>


              <div class="form-group col-xs-12 col-sm-6">
                <div class="input-group input-group-sm">
                  <span class="input-group-addon"><i class="fa fa-birthday-cake"></i></span>

                  <%= form.date_field :birth_date, placeholder: 'Birthday ', class: 'form-control input-lg' %>
                </div>
              </div>

              <div class="form-group col-xs-12 col-sm-6">
                <div class="input-group input-group-sm">
                  <span class="input-group-addon"><i class="fa fa-phone"></i></span>
                  <%= form.text_field :cell_phone,placeholder:"Phone number", class: 'form-control input-lg'%>
                </div>
              </div>


            </div>

            <hr class="hr-lg">
            <div class="form-group">
              <h6>Interest fields</h6>
              <%= form.select :service_category_ids, ServiceCategory.all.collect {|x| [x.title, x.id]}, {}, :multiple => true,
                              :prompt => 'Please select service category',  class: 'form-control selectpicker' %>
              <span class="help-block">Select some of your favorite fields.</span>
            </div>

            <h6>Tags</h6>
            <div class="form-group">
              <%= form.text_field :tag_list, 'data-role'=>'tagsinput',value: teenager.tag_list.to_s  %>
              <span class="help-block">Type something about yourself for people to know you better. </span>
              <h7>Popular Tags: <%ActsAsTaggableOn::Tag.most_used(5).each do |tag|%>
                    <%="#{tag}, "%>   <%end%></h7>

            </div>



          </div>
        </div>

      </div>
    </header>

    <section class="bg-alt">
      <div class="container">
        <header class="section-header">
          <h1>Are you done?</h1>
          <p>Please review your information once more and press the below button to put your post online.</p>
        </header>
        <div class="actions">
          <p class="text-center">
            <%= form.submit 'Submit', class: 'btn btn-success btn-xl btn-round' %>
          </p>
        </div>
      </div>
    </section>

<% end %>




