
<header class="page-header bg-img" style="background-image: url(/assets/img/bg-banner1.jpg);">
  <div class="container page-name">
    <h1 class="text-center">Browse Teenagers</h1>
    <p class="lead text-center">Use following search box to find resumes that fits your position better</p>
  </div>

  <div class="container">
    <%= form_tag(teenagers_path, method: :get) do %>

      <div class="row">
        <div class="form-group col-xs-12 col-sm-4">
          <input type="text" class="form-control" placeholder="Keyword: name, skills, or tags">
        </div>

        <div class="form-group col-xs-12 col-sm-4">
          <input type="text" class="form-control" placeholder="Location: city, state or zip">
        </div>

        <div class="form-group col-xs-12 col-sm-4">
          <%= select_tag :servicecategory, options_from_collection_for_select(ServiceCategory.all,"id","title"),{:include_blank => 'All',class: 'form-control selectpicker'}  %>
        </div>

        <div class="form-group col-xs-12 col-sm-4">
          <h6>Sort by</h6>
          <div class="radio">
            <input type="radio" name="sortby" id="sortby1" value="option1" checked>
            <label for="sortby1">Rating</label>
          </div>

          <div class="radio">
            <input type="radio" name="sortby" id="sortby2" value="option2">
            <label for="sortby2">Service Numbers</label>
          </div>
        </div>


      </div>

      <div class="button-group">
        <div class="action-buttons">
          <button class="btn btn-primary">Apply filter</button>
        </div>
      </div>

    <%end%>

  </div>

</header>
<!-- END Page header -->

<!-- Main container -->
<main>
  <section class="no-padding-top bg-alt">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <br>
          <h5>We found <strong><%=@teenagers.count%>mathes</strong> </h5>
        </div>
      </div>

      <div class="row">
        <% @teenagers.each do |teenager| %>
            <div class="col-xs-12">

                <%= link_to teenager, class: 'item-block' do %>
                <header>
          <% if teenager.selfie.present? %>
          <%= image_tag(teenager.selfie.thum.url,style:"border-radius:50%;width:60px;height:60px;",class:"thumbnail")  %>
        <!-- user upload -->
          <% else %>
         <%= image_tag("/assets/img/teenager1.png",class:"thumbnail",style:"width:60px;height:60px;border-radius:50%;") %>
        <!-- default picture -->
           <% end %>
                  <div class="hgroup">
                    <h4><%= teenager.fname%> <%= teenager.lname%></h4>
                  </div>
                </header>

                <div class="item-body">
                  <p>Teenager Self Introduction: Coming Soon!!!.</p>

                  <div class="tag-list">
           <%@current_teenager_interest= TeenagerInterest.where(teenager_id:teenager.id).all%>
           <%@current_teenager_interest.all.each do |interest| %>
            <span>
              <%=ServiceCategory.find(interest.service_category_id).title%> <%="   "%>
            </span>
            <% end %>
             </div>
                </div>

                <footer>
                  <ul class="details cols-3">
                    <li>
                      <i class="fa fa-home"></i>
                      <span><%=teenager.home_address%></span>
                    </li>
                      <li>
                      <i class="fa fa-home"></i>
                      <span><%=teenager.selfie%></span>
                    </li>

                    <li>
                      <i class="fa fa-map-marker"></i>
                      <span><%=teenager.postal_code%></span>
                    </li>

                    <li>
                      <i class="fa fa-certificate"></i>
                      <span><%=User.find(teenager.user_id).email%></span>
                    </li>
                  </ul>
                </footer>

                <% end %>
            </div>

        <% end %>
      </div>


      <nav class="text-center">
        <%= will_paginate @teenagers, renderer: BootstrapPagination::Rails %>
      </nav>





    </div>
  </section>
</main>