
<header class="page-header bg-img" style="background-image: url(/assets/img/teenagers.jpg);">
  <div class="container page-name">
    <h1 class="text-center">Browse Teenagers</h1>
    <p class="lead text-center">Use following search box to find resumes that fits your position better</p>
  </div>

  <div class="container">
    <%= form_tag(teenagers_path, method: :get) do %>

      <div class="row">
        <div class="form-group col-xs-12 col-sm-6">
          <h6>Keywords</h6>
          <%= text_field_tag :searched_keyword, params[:searched_keyword], class: "form-control", placeholder: "Keyword: teenagers' name" %>
        </div>
        <div class="form-group col-xs-12 col-sm-6">
          <h6>Address</h6>
          <%= text_field_tag :address, params[:address], class: "form-control", placeholder: "Location: city, state or zip" %>
        </div>

        <div class="form-group col-xs-12 col-sm-6">
              <h6>Teenager Interest</h6>
            <%= select_tag :service_category_id, options_from_collection_for_select(ServiceCategory.order(:title), :id, :title, params[:service_category_id]), { include_blank: 'All', class: 'form-control selectpicker'} %>
        </div>
        
        <div class="form-group col-xs-12 col-sm-6">
       
       <!--
               <h6>Sort by</h6>

          <div class="radio">
            <input type="radio" name="sortby" id="sortby1"  value ="Rating" >
            <label for="sortby1">Rating</label>
          </div>

          <div class="radio">
            <input type="radio" name="sortby" id="sortby1" value= "Service #">
            <label for="sortby2">Service Numbers</label>
          </div>
       -->
    <h6>Order By</h6>
          <%= select_tag :order, options_for_select([["Rating"],["Number of Services"]],params[:order]), {:include_blank => 'Default', class: 'form-control selectpicker'} %>
        </div>


        <div class="form-group col-xs-12 col-sm-12" style="height:500px;" id="teenager_all_map"></div>
        <%= javascript_tag "all_teenagers = #{@teenagers.to_json};" %>
        <script>
            var teenager_id = -1;
        </script>

      </div>

      <div class="button-group">
        <div class="action-buttons">
          <button class="btn btn-primary">Apply filter</button>
        </div>
      </div>

    <%end%>

  </div>

</header>
<!-- END Page header -->

<!-- Main container -->
<main>
  <section class="no-padding-top bg-alt">
    <div class="container">
      <div class="row">
        <div class="row">
        <div class="col-xs-12">
          <br>
          <% if @teenagers.total_entries == 0 %>
            <h5>Sorry, we could not find any match</h5>
          <% elsif @teenagers.total_entries == 1 %>
            <h5>We find 1 match for you</h5>
          <% else %>
            <h5>We find <strong><%= @teenagers.total_entries %></strong> matches, we are showing matches <%= (@teenagers.current_page-1) * 5 +1 %> - <%= (@teenagers.current_page-1) * 5 + @teenagers.count %>
            </h5>
          <% end %>
        </div>
      </div>

      <div class="row">
        <% @teenagers.each do |teenager| %>
            <div class="col-xs-12">

          <%= link_to teenager, class: 'item-block' do %>
                <header>
          <% if teenager.selfie.present? %>
          <%= image_tag(teenager.selfie.thum.url,style:"border-radius:50%;width:60px;height:60px;",class:"thumbnail")  %>
        <!-- user upload -->
          <% else %>
         <%= image_tag(UiFaces.face,class:"thumbnail",style:"width:60px;height:60px;border-radius:50%;") %>
        <!-- default picture -->
           <% end %>
                  <div class="hgroup">
                <div class="teenager_rating">
                    <h4><%= teenager.fname%> <%= teenager.lname%></h4>
                <%if teenager.get_service_numbers > minimum_review_numbers %>
                      <div class="stars-outer">
                        <div id=<%= teenager.get_average_rating %> class="stars-inner"></div>
                      </div>
                <strong> <%= "#{teenager.get_service_numbers} Reviews" %></strong>
                      <%else%>
                      <div class="stars-outer">
                        <div id=<%= 0 %> class="stars-inner"></div>
                      </div>
                   <strong>No Review</strong>
                <%end%>
              </div>

                  </div>
                </header>

                <div class="item-body">
                  <p><%= teenager.description %></p>

                  <div class="tag-list">
                    <% teenager.tag_list.split(",") do |tag| %>
            <span>
              <%= tag %> <%= "   " %>
            </span>
                    <% end %>

                  </div>
                </div>

                <footer>
                  <ul class="details cols-3">
                    <li>
                      <i class="fa fa-home"></i>
                      <span><%=teenager.home_address%></span>

                    <li>
                      <i class="fa fa-map-marker"></i>
                      <span><%=teenager.postal_code%></span>
                    </li>

                    <li>
                      <i class="fa fa-certificate"></i>
                      <span><%=User.find(teenager.user_id).email%></span>
                    </li>
                  </ul>
                </footer>

                <% end %>
            </div>

        <% end %>
      </div>


      <nav class="text-center">
        <%= will_paginate @teenagers, renderer: BootstrapPagination::Rails %>
      </nav>





    </div>
    <a id="scroll-up" href="#"><i class="ti-angle-up"></i></a>
  </section>
</main>