<p id="notice"><%= notice %></p>

<p>
  <strong>Email Address:</strong>
  <%= @teenager.email_address %>
</p>

<p>
  <strong>First Name:</strong>
  <%= @teenager.fname %>
</p>

<p>
  <strong>Last Name:</strong>
  <%= @teenager.lname %>
</p>

<p>
  <strong>Home address:</strong>
  <%= @teenager.home_address %>
</p>



<p>
  <strong>Cell phone:</strong>
  <%= @teenager.cell_phone %>
</p>

<p>
  <strong>Birth date:</strong>
  <%= @teenager.birth_date %>
</p>

<%= link_to 'Edit', edit_teenager_path(@teenager) %> |
<%= link_to 'Back', teenagers_path %>
