
<%= form_with(model: client, local: true) do |form| %>


    <header class="page-header bg-img size-lg" style="background-image: url(/assets/img/bg-banner1.jpg)">
      <div class="container page-name">
        <h1 class="text-center"><%= @client_form_header_title %></h1>
        <p class="lead text-center"><%= @client_form_header_description %></p>
      </div>
      <div class="container">
        <font color = 'red'> <%= client.errors.full_messages.first %></font>

        <div class="row">




          <div class="form-group col-md-6 col-sm-12">
            <h6>First Name</h6>
            <%= form.text_field :fname, id: :client_fname,  class: 'form-control input-lg' %>
          </div>

          <div class="form-group col-md-6 col-sm-12">
            <h6>Last Name</h6>
            <%= form.text_field :lname, id: :client_lname,class: 'form-control input-lg' %>
          </div>


          <div class="form-group col-xs-12 col-sm-12">
            <h6>Home Address</h6>
              <%= form.text_field :home_address, id: :client_home_address, class: 'form-control input-lg' %>

          </div>



          <div class="form-group col-xs-12 col-sm-12">
            <h6>Description</h6>
            <%= form.text_area :description, id: :client_description,  class: 'form-control input-lg' %>
          </div>





          <div class="form-group col-md-6 col-sm-12">
            <h6>Home Phone</h6>
              <%= form.number_field :home_phone, id: :client_home_phone, class: 'form-control input-lg' %>

          </div>

          <div class="form-group col-md-6 col-sm-12">

              <h6>Cell Phone</h6>
              <%= form.number_field :cell_phone, id: :client_cell_phone,  class: 'form-control input-lg' %>

          </div>

        </div>
      </div>
    </header>

    <section class="bg-alt">
      <div class="container">
        <header class="section-header">
          <h1>Are you done?</h1>
          <p>Please review your information once more and press the button below to save.</p>
        </header>
        <div class="actions">
          <p class="text-center">
            <%= form.submit 'Submit', class: 'btn btn-success btn-xl btn-round' %>
          </p>
        </div>
      </div>
    </section>
<% end %>
