<!-- Page header -->
<header class="page-header bg-img" style="background-image: url(assets/img/bg-banner1.jpg)">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-4">
    <% if @client.selfie.present? %>
          <%= image_tag(@client.selfie.thum.url,style:"border-radius:50%;",class:"thumbnail center-block ")  %>
        <!-- User upload picture -->
          <% else %> 
         <%= image_tag("/assets/img/client1.jpeg",class:"thumbnail center-block",style:"width:100px;height:100px;border-radius:50%;") %>
        <!-- default picture-->
           <% end %>          
        </div>

      <div class="col-xs-12 col-sm-8 header-detail">
        <div class="hgroup">
         <h4><%= @client.fname %> <%= @client.lname %></h4>
          <% if @client.get_service_counts >minimum_review_numbers %>
          <div class="teenager_rating">
                <div class="stars-outer">
                  <div id=<%= @client.get_average_rating %> class="stars-inner"></div>
                </div>
                <strong> <%= "  #{@client.get_service_counts} Reviews" %></strong>
              </div>
          <%end%>


        <hr>
        <p class="lead"><%= @client.description %> </p>

        <ul class="details cols-3">
          <li>
            <i class="fa fa-map-marker"></i>
            <span><%= @client.home_address %></span>
          </li>

          <li>
            <i class="fa fa-mobile"></i>
            <span><%= @client.cell_phone %></span>
          </li>


          <li>
            <i class="fa fa-phone"></i>
            <span><%= @client.home_phone %></span>
          </li>

          <li>
            <i class="fa fa-envelope"></i>
            <a href="#"><%= @client.user.email %></a>
          </li>
        </ul>
      </div>
      </div>
    </div>


      <div class="button-group">
        <ul class="social-icons">
          <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
          <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
          <li><a class="dribbble" href="#"><i class="fa fa-dribbble"></i></a></li>
          <li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>
          <li><a class="instagram" href="#"><i class="fa fa-instagram"></i></a></li>
        </ul>

        <div class="action-buttons">
          <%if current_user.client && current_user.client.id = @client.id%>

          <%= link_to 'Edit', edit_client_path(@client), class: 'btn btn-gray' %>
<%end%>
        </div>
      </div>


  </div>
</header>
<!-- END Page header -->


<!-- Main container -->
<main>


  <!-- END Company detail -->


  <!-- Open posts -->
  <section id="open-positions" class="bg-alt">
    <div class="container">
      <header class="section-header">
        <h2>Open Posts</h2>
      </header>

      <% @client.posts.order(:updated_at).reverse.each do |post| %>
          <div class="col-xs-12">
            <div class="item-block">
              <header>
                <a href="company-detail.html"><img src="assets/img/logo-google.jpg" alt=""></a>
                <div class="hgroup">
                  <h4><%= post.title %></h4>
                </div>
                <div class="header-meta">

                  <i class="fa fa-map-marker"></i>
                  <span><%= post.work_address %> <br/>   </span>

                  <i class="fa fa-money"></i>
                  <span><%= post.pay %>/hr</span>

                </div>
              </header>

              <div class="item-body">
                <p><%= post.description %></p>
              </div>


              <footer>
                <p class="status"><strong>Status: </strong><%= post.hasPosition %></p>

                <div class="action-btn">
                  <%= link_to 'Edit', edit_post_path(post), class: 'btn btn-xs btn-gray' %>
                  <%= link_to 'Destroy', {action: :destroy, id: post.id}, method: :delete, data: {confirm: 'Are you sure?'}, class: 'btn btn-xs btn-danger' %>
                </div>
              </footer>
            </div>
          </div>
      <% end %>


    </div>
  </section>
  <!-- END Open positions -->


</main>

<div class="container">
  <div class="row">
    <div class="col-md-8 col-lg-9">
      <div id="comments">
        <header class="section-header">
          <h2>Review
            <span class=“txt-gray”><%= "(#{Service.where(client_id: @client.id).where.not("client_review like ?", "").count})" %></span>
          </h2>
        </header>
        <ul class="comments-list">

          <% Service.where(client_id: @client.id).where.not("client_review like ?", "").each do |service| %>
              <li class="comment">
                <% if Teenager.find(service.teenager_id).selfie.present? %>
                    <%= image_tag(Teenager.find(service.teenager_id).selfie.thum.url, border: 0, class: "avatar") %>
                    <!-- User upload picture -->
                <% else %>
                    <%= image_tag("/assets/img/teenager1.jpeg", border: 0, class: "avatar") %>
                    <!-- default picture-->
                <% end %>
                <div class="comment-body">
                  <h6>
                    <a href="#"><%= Teenager.find(service.teenager_id).fname %></a>
                    <time>
                      <%= service.updated_at %>
                    </time>
                  </h6>

                  <p>
                    <%= service.client_review %>
                  </p>
                </div>
              </li>

          <% end %>

        </ul>
      </div>
    </div>
  </div>
</div>