

<!-- Page header -->
<header class="page-header bg-img size-lg" style="background-image: url(assets/img/bg-banner2.jpg)">
  <div class="container">
    <div class="header-detail">
      <img class="logo" src="assets/img/logo-google.jpg" alt="">
      <div class="hgroup">
        <h1><%= @client.fname %> <%= @client.lname %></h1>

      </div>
      <hr>
      <p class="lead"><%= @client.description %></p>

      <ul class="details cols-3">
        <li>
          <i class="fa fa-map-marker"></i>
          <span><%= @client.home_address %></span>
        </li>

        <li>
          <i class="fa fa-mobile"></i>
          <span><%= @client.cell_phone %></span>
        </li>



        <li>
          <i class="fa fa-phone"></i>
          <span><%= @client.home_phone %></span>
        </li>

        <li>
          <i class="fa fa-envelope"></i>
          <a href="#"><%= @client.user.email %></a>
        </li>
      </ul>

      <div class="button-group">
        <ul class="social-icons">
          <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
          <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
          <li><a class="dribbble" href="#"><i class="fa fa-dribbble"></i></a></li>
          <li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>
          <li><a class="instagram" href="#"><i class="fa fa-instagram"></i></a></li>
        </ul>

        <div class="action-buttons">
          <a class="btn btn-gray" href="#">Favorite</a>
          <a class="btn btn-success" href="#">Contact</a>
        </div>
      </div>

    </div>
  </div>
</header>
<!-- END Page header -->


<!-- Main container -->
<main>


  <!-- END Company detail -->


  <!-- Open posts -->
  <section id="open-positions" class="bg-alt">
    <div class="container">
      <header class="section-header">

        <h2>Open Posts</h2>
      </header>

      <% @client.posts.order(:updated_at).reverse.each do |post| %>
          <div class="col-xs-12">
            <div class="item-block">
              <header>
                <a href="company-detail.html"><img src="assets/img/logo-google.jpg" alt=""></a>
                <div class="hgroup">
                  <h4><%= post.title %></h4>
                  <h5><%= post.description %></h5>
                </div>
                <div class="header-meta">

                    <i class="fa fa-map-marker"></i>
                    <span><%= post.work_address %> <br />   </span>

                    <i class="fa fa-money"></i>
                    <span><%= post.pay %>/hr</span>

                  </div>
              </header>

              <footer>
                <p class="status"><strong>Status: </strong><%= post.post_status %></p>

                <div class="action-btn">
                  <%= link_to 'Edit', edit_post_path(post), class: 'btn btn-xs btn-gray'%>
                  <%= link_to 'Destroy', { action: :destroy, id: post.id }, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-xs btn-danger'  %>
                </div>
              </footer>
            </div>
          </div>
      <% end %>

      <div class="row">

        <!-- Job item -->
        <div class="col-xs-12">
          <a class="item-block" href="job-detail.html">
            <header>
              <img src="assets/img/logo-google.jpg" alt="">
              <div class="hgroup">
                <h4>Senior front-end developer</h4>
                <h5>Google <span class="label label-success">Full-time</span></h5>
              </div>
              <time datetime="2016-03-10 20:00">34 min ago</time>
            </header>

            <div class="item-body">
              <p>A rapidly growing, well established marketing firm is looking for an experienced web developer for a full-time position. In this role, you will develop websites, apps, emails and other forms of digital electronic media, all while maintaining brand standards across design projects and other marketing communication materials.</p>
            </div>

            <footer>
              <ul class="details cols-3">
                <li>
                  <i class="fa fa-map-marker"></i>
                  <span>Menlo Park, CA</span>
                </li>

                <li>
                  <i class="fa fa-money"></i>
                  <span>$90,000 - $110,000 / year</span>
                </li>

                <li>
                  <i class="fa fa-certificate"></i>
                  <span>Master or Bachelor</span>
                </li>
              </ul>
            </footer>
          </a>
        </div>
        <!-- END Job item -->


        

      </div>

    </div>
  </section>
  <!-- END Open positions -->


</main>