<!-- Page header -->
<header class="page-header bg-img" style="background-image: url(/assets/img/bg-banner1.jpg);">
  <div class="container page-name">
    <h1 class="text-center">Browse posts</h1>
    <p class="lead text-center">Use following search box to find posts that fits you better</p>
  </div>

  <div class="container">
    <%= form_tag(posts_path, method: :get) do %>

        <div class="row">
          <div class="form-group col-xs-12 col-sm-6">
            <h6>Keywords</h6>
            <%= text_field_tag :searched_keyword, params[:searched_keyword], class: "form-control", placeholder: "Keyword: job title, description, or requirements" %>
          </div>
          <div class="form-group col-xs-12 col-sm-6">
            <h6>Address</h6>
            <%= text_field_tag :address, params[:address], class: "form-control", placeholder: "Location: city, state or zip" %>
          </div>

          <div class="form-group col-xs-12 col-sm-3">
            <h6>Category</h6>
            <%= select_tag :category_id, options_from_collection_for_select(ServiceCategory.order(:title), :id, :title, params[:category_id]), {id: "post_category_id", include_blank: 'All', class: 'form-control selectpicker'} %>
          </div>

          <div class="form-group col-xs-12 col-sm-3">
            <h6>Type</h6>
            <%= select_tag :type_id, option_groups_from_collection_for_select(ServiceCategory.order(:title), :service_types, :title, :id, :title, params[:type_id]), {id: "post_type_id", include_blank: 'All', class: 'form-control selectpicker'} %>
          </div>

          <div class="form-group col-xs-12 col-sm-2">
            <h6>Status</h6>
            <%= select_tag :status, options_for_select([['Open', 'open'], ['Close', 'close']], params[:status]), {:include_blank => 'All', class: 'form-control selectpicker'} %>
          </div>

          <div class="form-group col-xs-12 col-sm-2">
            <h6>Order By</h6>
            <%= select_tag :order, options_for_select([["update time", "updated_at"], ["create time", "created_at"]], params[:order]), {class: 'form-control selectpicker'} %>
          </div>

          <div class="form-group col-xs-12 col-sm-2">
            <h6>Jobs per Page</h6>
            <%= select_tag :per_page, options_for_select([[5, 5], [10, 10]], params[:per_page]), {class: 'form-control selectpicker'} %>
          </div>

          <div class="form-group col-xs-12 col-sm-12" style="height:500px;" id="post_all_map"></div>
          <%= javascript_tag "all_posts = #{@posts.to_json};" %>
          <%= javascript_tag "all_posts_routes = #{get_posts_routes.to_json};" %>
          <script>
              var post_id = -1;
          </script>
        </div>

        <div class="button-group">
          <div class="action-buttons">
            <%= submit_tag 'Apply filter', name: nil, class: 'btn btn-primary' %>
          </div>
        </div>

    <% end %>

  </div>

</header>


<main>
  <section class="no-padding-top bg-alt">
    <div class="container">
      <div class="row">

        <div class="col-xs-12">
          <br>
          <% if @posts.total_entries == 0 %>
              <h5>Sorry, we could not find any match</h5>
          <% elsif @posts.total_entries == 1 %>
              <h5>We find 1 match for you</h5>
          <% else %>
              <h5>We find <strong><%= @posts.total_entries %></strong> matches, we are showing
                matches <%= (@posts.current_page-1) * @posts.per_page + 1 %> - <%= (@posts.current_page-1) * @posts.per_page + @posts.count %>
              </h5>
          <% end %>
        </div>


        <% @posts.each do |post| %>
            <div class="col-xs-12">
              <%= link_to post, class: 'item-block' do %>
                  <header>
                  <span class="fa-stack fa-lg fa-3x">
                    <i class="fa <%= post.service_category.get_fa %> fa-stack-1x"></i>
                  </span>
                  <div class="hgroup">
                    <h4><%= post.title %></h4>
                    <div class="teenager_rating">
                      <h5><%= "#{post.client.fname} #{post.client.lname}" %>
                        <% if post.client.get_service_counts > minimum_review_numbers %>
                            <div class="stars-outer">
                              <div id=<%= post.client.get_average_rating %> class="stars-inner"></div>
                            </div>
                          <strong> <%= "#{post.client.get_service_counts} Reviews" %></strong>
                        <%else %>
                          <div class="stars-outer">
                            <div id=<%= 0 %> class="stars-inner"></div>
                          </div>
                          <strong>No Review</strong>
                        <% end %>

                      </h5>
                    </div>
                  </div>
                  <time datetime=<%= post.updated_at %>>Updated
                    at <%= post.updated_at.in_time_zone('Eastern Time (US & Canada)').strftime("%b %d %Y %H:%M") %></time>
                  </header>

                  <div class="item-body">
                    <h6>Description</h6>
                    <p><%= post.description %></p>
                    <% if post.requirements != "" %>
                        <h6>Requirements</h6>
                        <div class="tag-list">
                          <% post.tag_list.split(",") do |tag| %>
                            <span>
                              <%= tag %> <%= "   " %>
                            </span>
                          <% end %>
                        </div>
                    <% end %>
                  </div>

                  <footer>
                    <ul class="details cols-2">
                      <li>
                        <i class="fa fa-map-marker"></i>
                        <span><%= post.work_address %></span>
                      </li>

                      <li>
                        <i class="fa fa-money"></i>
                        <span><%= "$#{post.pay}" %></span>
                      </li>

                      <li>
                        <i class="fa fa-certificate"></i>
                        <span><%= post.hasPosition %></span>
                      </li>

                      <li>
                        <i class="fa fa-list-alt"></i>
                        <span><%= "#{post.service_category.title} - #{post.service_type.title}" %></span>
                      </li>
                    </ul>
                  </footer>
              <% end %>
            </div>
        <% end %>
      </div>


      <!-- Page navigation -->
      <nav class="text-center">
        <%= will_paginate @posts, renderer: BootstrapPagination::Rails %>
      </nav>
      <!-- END Page navigation -->

    </div>
    <a id="scroll-up" href="#"><i class="ti-angle-up"></i></a>
  </section>
</main>