<!-- Page header -->
<header class="page-header bg-img" style="background-image: url(/assets/img/bg-banner1.jpg);">
  <div class="container page-name">
    <h1 class="text-center">Browse posts</h1>
    <p class="lead text-center">Use following search box to find posts that fits you better</p>
  </div>

  <div class="container">
    <%= form_tag(posts_path, method: :get) do %>

      <div class="row">
        <div class="form-group col-xs-12 col-sm-6">
          <h6>Keywords</h6>
          <%= text_field_tag :searched_keyword, params[:searched_keyword], class: "form-control", placeholder: "Keyword: job title, description, or requirements" %>
        </div>
        <div class="form-group col-xs-12 col-sm-6">
          <h6>Address</h6>
          <%= text_field_tag :address, params[:address], class: "form-control", placeholder: "Location: city, state or zip" %>
        </div>

        <div class="form-group col-xs-12 col-sm-3">
          <h6>Category</h6>
          <%= select_tag :category_id, options_from_collection_for_select(ServiceCategory.order(:title), :id, :title, params[:category_id]), {id: "post_category_id", include_blank: 'All', class: 'form-control selectpicker'} %>
        </div>

        <div class="form-group col-xs-12 col-sm-3">
          <h6>Type</h6>
          <%= select_tag :type_id, option_groups_from_collection_for_select(ServiceCategory.order(:title), :service_types, :title, :id, :title, params[:type_id]), {id: "post_type_id", include_blank: 'All', class: 'form-control selectpicker'} %>
        </div>

        <div class="form-group col-xs-12 col-sm-3">
          <h6>Status</h6>
          <%= select_tag :status, options_for_select([['Open', 'open'], ['Close', 'lose']], params[:status]), {:include_blank => 'All', class: 'form-control selectpicker'} %>
        </div>

        <div class="form-group col-xs-12 col-sm-3">
          <h6>Order By</h6>
          <%= select_tag :order, options_for_select([["update time", "updated_at"], ["create time", "created_at"]],params[:order]), {:include_blank => 'Default', class: 'form-control selectpicker'} %>
        </div>

        <div class="form-group col-xs-12 col-sm-12" style="height:500px;" id="post_all_map"></div>
        <div id="infowindow-content">
          <img src="" width="16" height="16" id="place-icon">
          <span id="place-name"  class="title"></span><br>
          <span id="place-address"></span>
        </div>
        <%= javascript_tag "all_posts = #{@posts.to_json};" %>

        <!--
        <div class="form-group col-xs-12 col-sm-6">
          <h6>Job Category</h6>
          <div class="checkall-group">
            <div class="checkbox">
              <input type="checkbox" id="service_category_all" name="service_category" checked>
              <label for="service_category_all">All types</label>
            </div>

            <% ServiceCategory.all.each do |category| %>
              <div class="checkbox">
                <input type="checkbox" id=<%= "service_category_#{category.id}" %> name="service_category" value=<%= category.title.parameterize.underscore %>>
                <label for=<%= "service_category_#{category.id}" %>><%= category.title %></label>
              </div>
            <%end %>
          </div>
        </div>

        <div class="form-group col-xs-12 col-sm-6">
          <h6>Job Type</h6>
          <div class="checkall-group">
            <div class="checkbox">
              <input type="checkbox" id="service_type_all" name="service_type" checked>
              <label for="service_type_all">All types</label>
            </div>

            <% ServiceType.all.each do |type| %>
              <div class="checkbox">
                <input type="checkbox" id=<%= "service_type_#{type.id}" %> value=<%= type.service_category.title.parameterize.underscore %> name="service_type">
                <label for=<%= "service_type_#{type.id}" %>><%= type.title %></label>
              </div>
            <%end %>
          </div>
        </div>
      -->
      </div>

      <div class="button-group">
        <div class="action-buttons">
          <%= submit_tag 'Apply filter', name: nil, class: 'btn btn-primary'%>
        </div>
      </div>

    <% end %>

  </div>

</header>


<main>
  <section class="no-padding-top bg-alt">
    <div class="container">
      <div class="row">

        <div class="col-xs-12">
          <br>
          <% if @posts.total_entries == 0 %>
            <h5>Sorry, we could not find any match</h5>
          <% elsif @posts.total_entries == 1 %>
            <h5>We find 1 match for you</h5>
          <% else %>
            <h5>We find <strong><%= @posts.total_entries %></strong> matches, we are showing matches <%= (@posts.current_page-1) * 5 +1 %> - <%= (@posts.current_page-1) * 5 + @posts.count %>
            </h5>
          <% end %>
        </div>

        <% @posts.each do |post| %>
            <div class="col-xs-12">
              <%= link_to post, class: 'item-block' do %>
                <header>
                  <img src="assets/img/logo-microsoft.jpg" alt="">
                  <div class="hgroup">
                    <h4><%= post.title %></h4>
                    <div class="teenager_rating">
                         <h5><%= "#{post.client.fname} #{post.client.lname}" %>

                      <%if post.client.get_service_counts > minimum_review_numbers%>
                        <div class="stars-outer">
                          <div id=<%= post.client.get_average_rating %> class="stars-inner"></div>
                        </div>
                       <%end%> 

                      </h5> 
                    </div>  
                  </div>
                  <time datetime=<%= post.updated_at %>>Updated at <%= post.updated_at.in_time_zone('Eastern Time (US & Canada)').strftime("%b %d %Y %H:%M") %></time>
                </header>

                <div class="item-body">
                  <h6>Description</h6>
                  <p><%= post.description %></p>
                  <% if post.requirements %>
                    <h6>Requirements</h6>
                    <p><%= post.requirements %></p>
                  <% end %>
                </div>

                <footer>
                  <ul class="details cols-2">
                    <li>
                      <i class="fa fa-map-marker"></i>
                      <span><%= post.work_address %></span>
                    </li>

                    <li>
                      <i class="fa fa-money"></i>
                      <span><%= "$#{post.pay}" %></span>
                    </li>

                    <li>
                      <i class="fa fa-certificate"></i>
                      <span><%= post.hasPosition %></span>
                    </li>

                    <li>
                      <i class="fa fa-list-alt"></i>
                      <span><%= "#{post.service_category.title} - #{post.service_type.title}" %></span>
                    </li>
                  </ul>
                </footer>
              <%end%>
            </div>
        <% end %>
      </div>


      <!-- Page navigation -->
      <nav class="text-center">
        <%= will_paginate @posts, renderer: BootstrapPagination::Rails %>
      </nav>
      <!-- END Page navigation -->

    </div>
  </section>
</main>