<% if @post and @post.client and current_user.client != @post.client %>
  <%= controller.redirect_to posts_path(status:"open", updated_at:"updated time", per_page:5)%>
<% end %>

<%= form_with(model: post, local: true) do |form| %>


    <header class="page-header bg-img size-lg" style="background-image: url(/assets/img/bg-banner1.jpg)">
      <div class="container page-name">
        <h1 class="text-center"><%= @post_form_header_title %></h1>
        <p class="lead text-center"><%= @post_form_header_description %></p>
      </div>

      <div class="container" style="z-index:2;">
        <font color = 'red'> <%= post.errors.full_messages.first %></font>

        <div class="row">

          <div class="form-group col-xs-12 col-sm-12">
            <h6>Title</h6>
            <%= form.text_field :title, placeholder: 'Post title, e.g. Need help on cleaning garden.', class: 'form-control input-lg' %>
          </div>


          <div class="form-group col-xs-12 col-sm-6">
            <h6>Service Category</h6>
            <%= collection_select(:post, :service_category_id, ServiceCategory.order(:title), :id, :title, {:prompt => 'Please select service category'}, {class: 'form-control selectpicker'}) %>
          </div>

          <div class="form-group col-xs-12 col-sm-6">
            <h6>Service Type</h6>
            <%= grouped_collection_select(:post, :service_type_id, ServiceCategory.order(:title), :service_types, :title, :id, :title, {:prompt => 'Please select service type'}, {class: 'form-control selectpicker'}) %>
          </div>

          <div class="form-group col-xs-12 col-sm-12">
            <h6>Work Address</h6>
            <div class="input-group input-group-sm">
              <span class="input-group-addon"><i class="fa fa-map-marker"></i></span>
              <%= form.text_field :work_address, id: :post_work_address, placeholder: 'Work address', class: 'form-control inpu-lg' %>
            </div>
          </div>

          <div class="form-group col-xs-12 col-sm-6">
            <h6>Wage</h6>
            <div class="input-group input-group-sm">
              <span class="input-group-addon"><i class="fa fa-money"></i></span>
              <%= form.number_field :pay, id: :post_pay, placeholder: 'Total amount of payment for each teenager', class: 'form-control input-lg' %>
            </div>
          </div>

          <div class="form-group col-xs-12 col-sm-6">
            <h6>Number of Teenager needed</h6>
            <div class="input-group input-group-sm">
              <span class="input-group-addon"><i class="fa fa-male"></i></span>
              <%= form.number_field :number_of_teenager_needed, id: :post_number_of_teenager_needed, placeholder: 'Number of People', class: 'form-control input-lg' %>
            </div>
          </div>

          <% if @post %>
            <script>
              var post_id = "<%== escape_javascript @post.id.to_s %>";
              var post_address = "<%== escape_javascript @post.work_address %>";
            </script>
          <%else%>
            <script>
              var post_id = -1;
              var post_address = "";
            </script>
          <% end %>

        </div>
      </div>

      <div class="container" style="z-index:1;">
      <div class="form-group col-xs-12 col-sm-12" style="height:500px;" id="post_form_map"></div>
        <div id="infowindow-content">
          <img src="" width="16" height="16" id="place-icon">
          <span id="place-name"  class="title"></span><br>
          <span id="place-address"></span>
        </div>
      </div>
    </header>

    

    <section>
      <div class="container">

        <header class="section-header">
          <h2>Job detail</h2>
          <p>Write about the job, brief description about the job.</p>
        </header>

        <div class="form-group col-xs-12 col-sm-12">
          <h6>Description</h6>
          <%= form.text_area :description, placeholder: 'Detailed description about the job you are going to post.', class: 'form-control input-lg',rows: "5" %>
        </div>

      </div>
    </section>

    <section>
      <div class="container">
        <header class="section-header">
          <h2>Requirement</h2>
          <p>Write about the requirement, help us to match the most suitable teenage for you.</p>
        </header>
        <div class="form-group col-xs-12 col-sm-12">

            <%= form.text_field :tag_list, 'data-role'=>'tagsinput',value: post.tag_list.to_s  %>
            <span class="help-block">Type something requirement of your job for us to match perfect teenagers. </span>
            <span class="help-block">Popular Tags: <%ActsAsTaggableOn::Tag.most_used(10).each do |tag|%>
                                  <%=tag%>,<%end%>
              </span>
         </div>
      </div>
    </section>







    <section class="bg-alt">
      <div class="container">
        <header class="section-header">
          <h1>Are you done?</h1>
          <p>Please review your information once more and press the below button to put your post online.</p>
        </header>
        <div class="actions">
          <p class="text-center">
            <%= form.submit @post_form_submit_title, class: 'btn btn-success btn-xl btn-round' %>
          </p>
        </div>
      </div>
    </section>
    <a id="scroll-up" href="#"><i class="ti-angle-up"></i></a>
<% end %>
