<%= form_with(model: post, local: true) do |form| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_area :title, id: :post_title %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description, id: :post_description %>
  </div>
  
<!--
  <div class="field">
    <%= form.label :service %>
    <%= collection_select(:post, :service_id, Service.all, :id, :title) %>
  </div>
-->

  <div class="field">
    <%= form.label :work_address %>
    <%= form.text_area :work_address, id: :post_work_address %>
  </div>

  <div class="field">
    <%= form.label :pay %>
    <%= form.text_area :pay, id: :post_pay %>
  </div>

  <div class="field">
    <%= form.label :number_of_teenager_needed %>
    <%= form.text_area :number_of_teenager_needed, id: :post_number_of_teenager_needed %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
