<%= form_with(model: post, local: true) do |form| %>


    <header class="page-header bg-img size-lg" style="background-image: url(/assets/img/bg-banner1.jpg)">
      <div class="container page-name">
        <h1 class="text-center"><%= @post_form_header_title %></h1>
        <p class="lead text-center"><%= @post_form_header_description %></p>
      </div>
      <div class="container">


        <div class="row">


          <% if post.errors.any? %>
              <div id="error_explanation">
                <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

                <ul>
                  <% post.errors.full_messages.each do |message| %>
                      <li><%= message %></li>
                  <% end %>
                </ul>
              </div>
          <% end %>

          <div class="form-group col-xs-12 col-sm-12">
            <%= form.text_field :title, placeholder: 'Post title, e.g. Need help on cleaning garden.', class: 'form-control input-lg' %>
          </div>

          <div class="form-group col-xs-12 col-sm-12">
            <%= form.text_area :description, placeholder: 'Detailed description about your service request.', class: 'form-control input-lg' %>
          </div>

          <div class="form-group col-xs-12 col-sm-6">
            <%= collection_select(:post, :service_category_id, ServiceCategory.order(:title), :id, :title, {:prompt => 'Please select service category'}, {class: 'form-control selectpicker'}) %>
          </div>

          <div class="form-group col-xs-12 col-sm-6">
            <%= grouped_collection_select(:post, :service_type_id, ServiceCategory.order(:title), :service_types, :title, :id, :title, {:prompt => 'Please select service type'}, {class: 'form-control selectpicker'}) %>
          </div>

          <div class="form-group col-xs-12 col-sm-12">
            <div class="input-group input-group-sm">
              <span class="input-group-addon"><i class="fa fa-map-marker"></i></span>
              <%= form.text_field :work_address, id: :post_work_address, placeholder: 'Work address', class: 'form-control inpu-lg' %>
            </div>
          </div>

          <div class="form-group col-xs-12 col-sm-6">
            <div class="input-group input-group-sm">
              <span class="input-group-addon"><i class="fa fa-money"></i></span>
              <%= form.number_field :pay, id: :post_pay, placeholder: 'Salary', class: 'form-control input-lg' %>
            </div>
          </div>
          
          <div class="form-group col-xs-12 col-sm-6">
            <div class="input-group input-group-sm">
              <span class="input-group-addon"><i class="fa fa-male"></i></span>
              <%= form.number_field :number_of_teenager_needed, id: :post_number_of_teenager_needed, placeholder: 'Number of People', class: 'form-control input-lg' %>
            </div>
          </div>

        </div>
      </div>
    </header>

    <section class="bg-alt">
      <div class="container">
        <header class="section-header">
          <h1>Are you done?</h1>
          <p>Please review your information once more and press the below button to put your post online.</p>
        </header>
        <div class="actions">
          <p class="text-center">
            <%= form.submit @post_form_submit_title, class: 'btn btn-success btn-xl btn-round' %>
          </p>
        </div>
      </div>
    </section>
<% end %>
