<header class="page-header bg-img size-lg" style="background-image: url(assets/img/bg-banner2.jpg)">
  <div class="container">
    <div class="header-detail">
      <img class="logo" src="assets/img/logo-google.jpg" alt="">
      <div class="hgroup">
        <h1><%= @post.title %></h1>
        <h3><a href="#"><%= "#{@post.client.fname} #{@post.client.lname}" %></a></h3>
      </div>
      <time datetime=<%= @post.created_at %>>Updated at <%= @post.created_at %></time>
      <hr>
      <p class="lead"><%= @post.description %></p>

      <ul class="details cols-3">
        <li>
          <i class="fa fa-map-marker"></i>
          <span><%= @post.work_address %></span>
        </li>

        <li>
          <i class="fa fa-list-alt"></i>
          <span><%= "#{@post.service_category.title} - #{@post.service_type.title}" %></span>
        </li>

        <li>
          <i class="fa fa-money"></i>
          <span><%= @post.pay %></span>
        </li>

        <li>
          <i class="fa fa-certificate"></i>
          <span><%= @post.post_status %></span>
        </li>
      </ul>

      <div class="button-group">
        <ul class="social-icons">
          <li class="title">Share on</li>
          <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
          <li><a class="google-plus" href="#"><i class="fa fa-google-plus"></i></a></li>
          <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
          <li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>
        </ul>

        <div class="action-buttons">
          <% if current_user.teenager %>
              <%= link_to 'Apply now', '#', :class => 'btn btn-success', 'data-toggle' => 'modal','data-target'=>'#applyModal' %>
          <% elsif current_user.client == @post.client %>
            <%= link_to 'Edit', edit_post_path(post_id: @post.id), class: 'btn btn-gray' %> 
          <% end %>
        </div>
      </div>

    </div>
  </div>
</header>

<% if current_user.teenager %>
  <div id="applyModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <%= form_for(:post_application, url: post_applications_url, method: :post) do |form| %>
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Apply this job.</h4>
        </div>
        <div class="modal-body">
          <%= form.hidden_field :post_id, value: @post.id %>
          <%= form.hidden_field :teenager_id, value: current_user.teenager.id %>
          <%= form.hidden_field :status, value:'pending' %>
          <div class="form-group">
            <%= form.text_area :message, class: "form-control", placeholder: "Leave some Message to show yourself." %>
          </div>
        </div>
        <div class="modal-footer">
          <%= form.submit 'Submit', :class => "btn btn-success"%>
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
        <% end %>
      </div>

    </div>
  </div>
<% end %>