<header class="page-header bg-img size-lg" style="background-image: url(assets/img/bg-banner2.jpg)">
  <div class="container">
    <div class="header-detail">
      <img class="logo" src="assets/img/logo-google.jpg" alt="">
      <div class="hgroup">
        <h1><%= @post.title %></h1>
        <h3><a href="#"><%= "#{@post.client.fname} #{@post.client.lname}" %></a></h3>
      </div>
      <time datetime=<%= @post.created_at %>>Created at <%= @post.created_at %></time>
      <hr>
      <p class="lead"><%= @post.description %></p>

      <ul class="details cols-3">
        <li>
          <i class="fa fa-map-marker"></i>
          <span><%= @post.work_address %></span>
        </li>

        <li>
          <i class="fa fa-list-alt"></i>
          <span><%= "#{@post.service_category.title} - #{@post.service_type.title}" %></span>
        </li>

        <li>
          <i class="fa fa-money"></i>
          <span><%= @post.pay %></span>
        </li>

        <li>
          <i class="fa fa-certificate"></i>
          <span><%= @post.status %></span>
        </li>
      </ul>

      <div class="form-group col-xs-12 col-sm-12" style="height:400px;" id="post_show_map"></div>
        <div id="infowindow-content">
          <img src="" width="16" height="16" id="place-icon">
          <span id="place-name"  class="title"></span><br>
          <span id="place-address"></span>
        </div>
      <script>
        var address = "<%== escape_javascript @post.work_address %>";
      </script>

      <div class="button-group">
        <ul class="social-icons">
          <li class="title">Share on</li>
          <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
          <li><a class="google-plus" href="#"><i class="fa fa-google-plus"></i></a></li>
          <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
          <li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>
        </ul>

        <div class="action-buttons">
          <% if current_user.teenager %>
              <%= link_to 'Chat with Client', '#', :class => 'btn btn-success', 'data-toggle' => 'modal', 'data-target' => '#messageModal' %>
              <% if (teenager_service=@post.applicable(current_user.teenager)) == 'applicable' %>
                  <%= link_to 'Apply now', '#', :class => 'btn btn-success', 'data-toggle' => 'modal', 'data-target' => '#applyModal' %>
              <% else %>
                  <button type="button" class="btn btn-primary"><%= teenager_service %></button>
              <% end %>
          <% elsif current_user.client == @post.client %>
              <%= link_to 'Edit', edit_post_path(@post), class: 'btn btn-gray' %>
          <% end %>
        </div>
      </div>

    </div>
  </div>
</header>

<% if current_user.teenager %>
    <div id="applyModal" class="modal fade" role="dialog">
      <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
          <%= form_for(:service, url: services_url, method: :post) do |form| %>
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Apply this job.</h4>
              </div>
              <div class="modal-body">
                <%= form.hidden_field :post_id, value: @post.id %>
                <%= form.hidden_field :teenager_id, value: current_user.teenager.id %>
                <%= form.hidden_field :status, value: :applied %>
                <%= form.hidden_field :enrollType, value: true %>
                <div class="form-group">
                  <%= form.text_area :applyMessage, class: "form-control", placeholder: "Leave some Message to show yourself." %>
                </div>
              </div>
              <div class="modal-footer">
                <%= form.submit 'Submit', :class => "btn btn-success" %>

                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              </div>
          <% end %>
        </div>

      </div>
    </div>
    <div id="messageModal" class="modal fade" role="dialog">
      <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
          <%= form_tag messages_path, method: :post do %>
              <div class="modal-body">

                <div class="form-group">
                  <%= label_tag 'message[subject]', 'Subject' %>
                  <%= text_field_tag 'message[subject]', nil, class: 'form-control', required: true %>
                </div>

                <div class="form-group ">
                  <%= label_tag 'message[body]', 'Message' %>
                  <%= text_area_tag 'message[body]', nil, cols: 3, class: 'form-control', required: true %>
                </div>

                <%= hidden_field_tag 'recipients', @post_client %>
              </div>
              <div class="modal-footer">

                <%= submit_tag 'Send', class: 'btn btn-primary' %>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>

              </div>
          <% end %>
        </div>

      </div>
    </div>
<% end %>

<main>
  <% if current_user.client == @post.client && (post_service = Service.where(:client_id => current_user.client, :post_id => @post.id, :status => [ :enrolled, :finished, :confirmed])).any? %>
      <section class="no-padding-top bg-alt">
        <header class="section-header">
          <h2>On Service Teenagers</h2>
        </header>
        <div class="container">
          <div class="row item-blocks-condensed">

            <% post_service.each do |service| %>
                <div class="row">
                  <!-- Candidate item -->
                  <div class="col-xs-12">
                    <div class="col-xs-12">
                      <div class="item-block">
                        <header>
                          <%= link_to image_tag("/assets/img/teenager1.png", border: 0), teenager_path(service.teenager), class: 'logo', method: :get,class:'resume-avatar' %></a>
                          <div class="hgroup">
                            <h4><%=link_to service.teenager.fname,  teenager_path(service.teenager)%></h4>
                            <h5><label class= "btn btn-xs <%=status_style2(service.status)%>"> <%= status_text2(service.status) %> </label></h5>
                          </div>
                          <div class="header-meta">
                            <span class="location"><%=service.teenager.home_address%></span>
                            <span class="rate"><%= service.post.pay%></span>
                          </div>
                        </header>

                        <footer>
                          <div class="action-btn">
                            <%if service.finished?%>
                            <%=link_to('Confirm',  service_path(service, :service => {:status => :confirmed}), :method => :put, data: {confirm: "Are you sure?"}, class: 'btn btn-xs btn-success')%>
                          <%end%>
                                </div>
                        </footer>
                      </div>
                    </div>
                  </div>
                  <!-- END Candidate item -->
                </div>
            <% end %>
            <!-- END Job item -->
          </div>
        </div>
      </section>
  <% end %>
</main>