<!-- Page header -->
<header class="page-header bg-img size-lg" style="background-image: url(assets/img/bg-banner1.jpg)">
  <div class="container page-name">
    <h1 class="text-center">Job Candidates</h1>
    <p class="lead text-center">Use following search box to find best candidates for your openning position</p>
  </div>

  <div class="container">
    <h5>Search</h5>
    <form action="#">

      <div class="row">
        <div class="form-group col-xs-12 col-sm-4">
          <input type="text" class="form-control" placeholder="Keyword">
        </div>

        <div class="form-group col-xs-12 col-sm-4">
          <select class="form-control selectpicker" multiple>
            <option selected>All statuses</option>
            <option>New</option>
            <option>Contacted</option>
            <option>Interviewed</option>
            <option>Hired</option>
            <option>Archived</option>
          </select>
        </div>

        <div class="form-group col-xs-12 col-sm-4">
          <select class="form-control selectpicker">
            <option selected>Newest first</option>
            <option>Oldest first</option>
            <option>Low salary first</option>
            <option>High salary first</option>
            <option>Sort by name</option>
          </select>
        </div>

      </div>

      <div class="button-group">
        <div class="action-buttons">
          <button class="btn btn-success">Download CSV</button>
          <button class="btn btn-primary">Apply filter</button>
        </div>
      </div>

    </form>
  </div>
</header>
<!-- END Page header -->


<!-- Main container -->
<main>
  <section class="no-padding-top bg-alt">
    <div class="container">

      <%@post_invitations.each do |post_invitation| %>
          <div class="row">
            <!-- Candidate item -->
            <div class="col-xs-12">
              <div class="item-block">
                <header>
                  <h3><%=post_invitation.post.title%></h3>
                  <a href="resume-detail.html"><img class="resume-avatar" src="assets/img/avatar-3.jpg" alt=""></a>
                  <div class="hgroup">
                    <h4>
                      <a href="resume-detail.html"><%=post_invitation.teenager.fname%></a>
                      <label class= "btn btn-xs <%=app_inv_status_style(post_invitation.status)%>"> <%= post_invitation.status %> </label>
                    </h4>
                    <h5><%= post_invitation.message %></h5>
                  </div>
                  <div class="header-meta">
                    <span class="location">Fremont, CA</span>
                    <span class="rate">$70 per hour</span>
                  </div>
                </header>
                <footer>
                  <div class="status"><strong>Applied on:</strong> July 16, 2016</div>
                  <div class="action-btn">
                    <%if can? :update, post_invitation %>
                        <%=link_to('Accept', post_invitation_path(post_invitation, :status => 'Approved'), :method => :put, data: {confirm: "Are you sure?"}, class: 'btn btn-xs btn-success')%>
                        <%=link_to('Reject',  post_invitation_path(post_invitation, :status => 'Rejected'), :method => :put, data: {confirm: "Are you sure?"}, class: 'btn btn-xs btn-danger')%>
                    <%elsif can? :destroy, post_invitation %>
                        <%=link_to('Delete',  post_invitation_path(post_invitation), :method => :delete, data: {confirm: "Are you sure?"}, class: 'btn btn-xs btn-danger')%>
                    <%end%>
                  </div>
                </footer>
              </div>
            </div>
            <!-- END Candidate item -->
          </div>
      <% end %>
    </div>
  </section>
</main>
