<!-- Page header -->
<header class="page-header bg-img size-lg" style="background-image: url(/assets/img/invitation.jpeg)">
  <div class="container page-name">

    <%if current_user.teenager %>
        <h1 class="text-center">Job Offers</h1>
        <p class="lead text-center">Use following search box to find all your job offers</p>
    <% elsif current_user.client %>
        <h1 class="text-center">Job Invitations</h1>
        <p class="lead text-center">Use following search box to find status of your invitations</p>
    <%end%>
  </div>

  <div class="container">

    <%if notice%>

          <div class="alert alert-info">
            <strong>Heads up!</strong> <%= notice %>
          </div>
    <%end%>

    <%= form_tag(services_invitations_path, method: :get) do %>
        <div class="row">

          <div class="form-group col-xs-12 col-sm-6">
            <h6>Job Title</h6>
            <% if current_user.client %>
                <%= select_tag :post, options_from_collection_for_select(Post.where(:client_id => current_user.client.id), "id", "title", params[:post]), {:include_blank => 'All',class: 'form-control selectpicker'} %>
            <% elsif current_user.teenager %>
                <%= select_tag :post, options_from_collection_for_select(Service.where(:teenager_id => current_user.teenager.id), "post_id", "post_title", params[:post]), {:include_blank => 'All',class: 'form-control selectpicker'} %>
            <%end%>
          </div>

          <div class="form-group col-xs-12 col-sm-6">
            <h6>Status</h6>
            <%= select_tag :status, options_for_select([[ "Pending", :beingInvited],["Approved", :enrolled],["Declined", :rejected]], params[:status]), {:include_blank => 'All', class: 'form-control selectpicker'} %>
          </div>


        </div>

        <div class="button-group">
          <div class="action-buttons">
            <%= submit_tag("Apply filter", class: 'btn btn-primary') %>
          </div>
        </div>

    <%end%>
  </div>
</header>
<!-- END Page header -->


<!-- Main container -->
<main>
  <section class="no-padding-top bg-alt">


    <div class="container">
      <h5>We found <strong><%= @services.count %></strong> matches</h5>
    </div>

    <div class="container">

      <%@services.order("updated_at DESC").each do |service| %>
          <div class="row">
            <!-- Candidate item -->
            <div class="col-xs-12">
              <div class="item-block">

                <header>
                  <h3>
                    <%=link_to service.post.title,  post_path(service.post)%>
                    <div class="pull-right">
                      <label class= "btn btn-xs <%=status_style(service.status)%>"> <%= status_text(service.status) %> </label></div>
                  </h3>
                  <div class="row">

                  <div class="hgroup col-xs-12 col-sm-8">

                  <% if service.teenager.selfie.present? %>
                      <%= image_tag(service.teenager.selfie.thum.url, style: "border-radius:50%;width:60px;height:60px;", class: "thumbnail") %>
                      <!-- user upload -->
                  <% else %>
                      <%= image_tag(UiFaces.face, class: "thumbnail", style: "width:60px;height:60px;border-radius:50%;") %>
                      <!-- default picture -->
                  <% end %>
                    <h4>

                      <%=link_to service.teenager.fname,  teenager_path(service.teenager)%>

                    </h4>
                    <h5>Invite Message: <%= service.inviteMessage %></h5>
                  </div>
                  <div class="header-meta col-xs-12 col-sm-4">
                    <span class="location"><%=service.teenager.home_address%></span>
                    <span class="rate"><%= service.post.pay%></span>
                  </div>
                </div>
                </header>

                <footer>
                  <div class="status"><strong>Updated on: </strong><%=service.updated_at%></div>
                  <div class="action-btn">
                    <%if current_user.teenager && service.beingInvited? %>
                        <%=link_to('Approve', service_path(service, :service => {:status => :enrolled}), :method => :put, data: {confirm: "Are you sure?"}, class: 'btn btn-xs btn-success')%>
                        <%=link_to('Reject',  service_path(service, :service => {:status => :rejected}), :method => :put, data: {confirm: "Are you sure?"}, class: 'btn btn-xs btn-danger')%>
                    <%elsif current_user.client && service.beingInvited?  %>
                        <%=link_to('Delete',  service_path(service), :method => :delete, data: {confirm: "Are you sure?"}, class: 'btn btn-xs btn-danger')%>
                    <%end%>
                  </div>
                </footer>
              </div>
            </div>
            <!-- END Candidate item -->
          </div>
      <% end %>
    </div>
    <a id="scroll-up" href="#"><i class="ti-angle-up"></i></a>
  </section>
</main>
