<div class="login-block">

  <%= link_to image_tag("/assets/img/logo.png", border: 0), home_index_path, class: 'logo', method: :get %></a>
  <h6>Fill the form, sign up as Client</h6><br>
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <font color = 'red'> <%= resource.errors.full_messages.first %></font>
      <%= f.fields_for :client, resource.client do |form| %>
          <%= form.text_field :fname, placeholder: 'First Name', class: 'form-control ' %>
          <hr class="hr-xs">
          <%= form.text_field :lname, placeholder: 'Last Name', class: 'form-control' %>
      <% end %>
      <hr class="hr-xs">



      <%if !resource.provider%>
          <%= f.email_field :email, autofocus: true, placeholder: "Email", class: "form-control" %>
          <hr class="hr-xs">
          <%= f.password_field :password, autocomplete: "off", placeholder: "Password", class: "form-control" %>
          <hr class="hr-xs">
          <%= f.password_field :password_confirmation, autocomplete: "off", placeholder: 'Password Confirmation', class: "form-control" %>
          <hr class="hr-xs">
      <%else%>
          <%= f.email_field :email, autofocus: true, placeholder: "Email", class: "form-control", disabled:true %>
          <hr class="hr-xs">
      <%end%>




      <%= f.hidden_field :role, value: 'client' %>
      <!-- nested fields -->
      <div class="actions">
        <%= f.submit "Sign up", class: 'btn btn-primary btn-block' %>
      </div>
      <div class="login-footer">
        <h6>Or login with</h6>
        <ul class="social-icons">
          <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
          <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
          <li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>
        </ul>
      </div>
  <% end %>

</div>