

<main>
  <% if params[:role] == nil %>
  <body class="login-page">

      <row>

      <div class="login-block">

        <%= link_to image_tag("/assets/img/logo.png", border: 0), home_index_path, class: 'logo', method: :get %></a>
       <br><br>
        <p class="lead text-center">Search posts, apply jobs, accept offer, find best jobs nearby!</p>
        <%= (link_to 'Teenager', new_user_registration_path(:role => "teenager"), class: 'btn btn-block btn-primary') %>
        <hr>

        <p class="lead text-center">Post Jobs, invite teenager, accept applications, find teenagers for your jobs.</p>
        <%= (link_to 'Client', new_user_registration_path(:role => "client"), class: 'btn btn-block btn-primary') %>


        <div class="login-footer">
          <h6>Or register with</h6>
          <ul class="social-icons">
            <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
            <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
            <li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>
          </ul>
        </div>
        </form>
      </div>
      </row>
      </body>


      <!--if registration type is tennager -->
  <% elsif params[:role] == "teenager" %>

        <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
            <%= devise_error_messages! %>
              <header class="page-header size-lg" style="background-image: url(/assets/img/bg-banner1.jpg)">
                      <div class="pull-left">
      <a class="navbar-toggle" href="#" data-toggle="offcanvas"><i class="ti-menu"></i></a>
      <div class="logo-wrapper">
        <%= link_to image_tag("/assets/img/logo.png", border: 0), home_index_path, class: 'logo', method: :get %></a>
        <%= link_to image_tag("/assets/img/logo-alt.png", border: 0), home_index_path, class: 'logo-alt', method: :get %></a>
      </div>
    </div>
               <div class="container">



                <div class="row">
                <div class="form-group col-xs-12 col-sm-12">
              <%= f.email_field :email, autofocus: true, placeholder: 'Email Address', class: 'form-control' %>
            </div>

                <div class="form-group col-xs-12 col-sm-12">
              <%= f.password_field :password, autocomplete: "off" , placeholder: "#{@minimum_password_length} characters minimum", class: 'form-control'%>
            </div>

                <div class="form-group col-xs-12 col-sm-12">
              <%= f.password_field :password_confirmation, autocomplete: "off" , placeholder: 'Password Confirmation', class: 'form-control'%>
            </div>

            <!-- nested fields -->
            <%= f.fields_for :teenager, @user.build_teenager do |form| %>


                <div class="form-group col-xs-12 col-sm-12">
                  <%= form.text_field :fname, placeholder: 'First Name', class: 'form-control' %>
                </div>

                <div class="form-group col-xs-12 col-sm-12">
                  <%= form.text_field :lname, placeholder: 'Last Name', class: 'form-control' %>
                </div>

                <div class="form-group col-xs-12 col-sm-12">
                  <%= form.text_field :home_address, id: :teenager_home_address, placeholder: 'Home Address', class: 'form-control' %>
                </div>

                <div class="form-group col-xs-12 col-sm-12">
                  <%= form.text_field :postal_code, id: :postal_code, placeholder: 'Please enter your Postal Code ', class: 'form-control'%>
                </div>

                <div class="form-group col-xs-12 col-sm-12">
                  <%= form.text_field :cell_phone, placeholder: 'Please enter your Cell Phone Number', class: 'form-control'%>
                </div>

                <div class="form-group col-xs-12 col-sm-12">
                  <%= form.select :service_category_ids, ServiceCategory.all.collect {|x| [x.title, x.id]}, {}, :multiple => true,
                                  :prompt => 'Please select service category', class: 'form-control selectpicker' %>
                </div>

                <div class="form-group col-xs-12 col-sm-12">
                  <%= form.date_field :birth_date, placeholder: 'Please enter your Postal Code ', class: 'form-control' %>
                </div>

                <div class="form-group col-xs-12 col-sm-12">
                <%= form.file_field :selfie , placeholder: 'Please upload your selfie',class: 'form-control'%>
                 </div>

            <% end %>
          
                          </div>
                        </div>
              </header>

   <div class="container">
        <header class="section-header">
          <h5>Are you done?</h5>
          <p>Please review your information once more and press the below button to put your post online.</p>
        </header>
          <p class="text-center">
            <%= f.submit class: 'btn btn-success btn-xl btn-round' %>
          </p>
    </div>
      
       <% end %>
  <% elsif params[:role] == "client" %>
     <div class="login-block">

        <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
            <%= devise_error_messages! %>

            <div class="field">
              <%= f.label :email %><br/>
              <%= f.email_field :email, autofocus: true %>
            </div>

            <div class="field">
              <%= f.label :password %>
              <% if @minimum_password_length %>
                  <em>(<%= @minimum_password_length %> characters minimum)</em>
              <% end %><br/>
              <%= f.password_field :password, autocomplete: "off" %>
            </div>

            <div class="field">
              <%= f.label :password_confirmation %><br/>
              <%= f.password_field :password_confirmation, autocomplete: "off" %>
            </div>

            <!-- nested fields -->
 <%= f.fields_for :client, @user.build_client do |form| %>

    <header class="page-header bg-img size-lg" style="background-image: url(/assets/img/bg-banner1.jpg)">
      <div class="container page-name">
        <h1 class="text-center"><%= @client_form_header_title %></h1>
        <p class="lead text-center"><%= @client_form_header_description %></p>
      </div>
      <div class="container">


        <div class="row">



          <div class="form-group col-xs-12 col-sm-12">
            <%= form.text_field :fname, id: :client_fname, placeholder: 'Please enter your first name', class: 'form-control input-lg' %>
          </div>

          <div class="form-group col-xs-12 col-sm-12">
            <%= form.text_field :lname, id: :client_lname, placeholder: 'Please enter your last name', class: 'form-control input-lg' %>
          </div>


          <div class="form-group col-xs-12 col-sm-12">

              <%= form.text_field :home_address, id: :client_home_address, placeholder: 'Home address', class: 'form-control input-lg' %>

          </div>



          <div class="form-group col-xs-12 col-sm-12">
            <%= form.text_area :description, id: :client_description, placeholder: 'Tell us a bit more about yourself', class: 'form-control input-lg' %>
          </div>





          <div class="form-group col-xs-12 col-sm-6">
            <div class="input-group input-group-sm">
              <span class="input-group-addon"><i class="fa fa-phone"></i></span>
              <%= form.number_field :home_phone, id: :client_home_phone, placeholder: 'Home Phone', class: 'form-control input-lg' %>
            </div>
          </div>

          <div class="form-group col-xs-12 col-sm-6">
            <div class="input-group input-group-sm">
              <span class="input-group-addon"><i class="fa fa-mobile"></i></span>
              <%= form.number_field :cell_phone, id: :client_cell_phone, placeholder: 'Cell Phone', class: 'form-control input-lg' %>
            </div>
          </div>

        </div>
      </div>
    </header>
 
    <% end %>
    <%= f.submit class: 'btn btn-success btn-xl btn-round' %>
    <% end %>

  <% end %>


</main>


