
<h1 align ="center">Welcome to TeenBuddy</h1>
<p>a market place to hire local teenagers</p>

<%= link_to("Teenagers",{
    :controller => 'teenagers',
    :action => 'index'}) %>

<%= "total number is  #{@total_teenagers}" %>

<br>

<%= link_to("Clients",{
    :controller => 'clients',
    :action => 'index'}) %>

<%= "total number is  #{@total_clients}" %>

<br>

<%= link_to("Posts",{
    :controller => 'posts',
    :action => 'index'}) %>

<%= "total number is  #{@total_posts}" %>