
<!-- Page header -->
<header class="page-header bg-img size-lg" style="background-image: url(/assets/img/bg-banner1.jpg)">
  <div class="container no-shadow">
    <h1 class="text-center"><%= @post_application.post.title %></h1>
    <p class="lead text-center">Apply with your online resume, create new resume for the job, or make a custom application.</p>
    <hr>

    <!-- Job detail -->
    <a class="item-block item-block-flat" href="job-detail.html">
      <header>
        <img src="assets/img/logo-google.jpg" alt="">
        <div class="hgroup">
          <h4>Job ID: <%= @post_application.post_id%></h4>
          <h5>Job Description: <%= @post_application.post.description %></h5>
        </div>
        <div class="header-meta">
          <span class="location"><%= @post_application.post.work_address %></span>
          <time datetime="2016-03-10 20:00">34 min ago</time>
        </div>
      </header>
    </a>
    <!-- END Job detail -->

  </div>
</header>
<!-- END Page header -->


<!-- Main container -->
<main>
  <%= form_with(model: post_application, local: true) do |form| %>
      <% if post_application.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(post_application.errors.count, "error") %> prohibited this post_application from being saved:</h2>

            <ul>
              <% post_application.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
              <% end %>
            </ul>
          </div>
      <% end %>
  <!-- Custom application -->
  <section id="sec-custom">
    <div class="container">
      <header class="section-header">
        <h2>Apply now</h2>
        <p>Convince the client by a message!</p>
      </header>
      <form>
        <%= form.hidden_field :post_id, value: @post_application.post_id %>
        <%= form.hidden_field :teenager_id, value: @post_application.teenager_id %>

        <div class="form-group">
          <%= form.text_area :message, class: "form-control", placeholder: "Message" %>
        </div>



        <div class="row">
            <p class="text-center">
            <%= form.submit 'Submit your application', :class => "btn btn-success"%>
            </p>

        </div>
      </form>

    </div>
  </section>
  <!-- END Custom application -->

  <% end %>
</main>