<p id="notice"><%= notice %></p>

<h1>Post Applications</h1>

<table>
  <thead>
  <tr>
    <th>Post</th>
    <th>Teenager</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <%@post_applications.each do |post_application| %>
      <tr>
        <td><%= post_application.message%></td>
        <td><%= post_application.post %></td>
        <td><%= post_application.teenager %></td>
        <td><%= link_to 'Show', post_application %></td>
        <td><%= link_to 'Edit', edit_post_application_path(post_application) %></td>
        <td><%= link_to 'Destroy', post_application, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Post Application', new_post_application_path %>
