<p id="notice"><%= notice %></p>

<p>
  <strong>Post:</strong>
  <%= @post_application.post %>
</p>

<p>
  <strong>Teenager:</strong>
  <%= @post_application.teenager %>
</p>

<%= link_to 'Edit', edit_post_application_path(@post_application) %> |
<%= link_to 'Back', post_applications_path %>
